* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b30005;
}

.container {
  position: relative;
  width: 50%;
  background-color: white;
}

.header-img-container {
  display: flex;
  flex-direction: column;
}

img[alt="logo-header"] {
  height: 150px;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

li {
  list-style: none;
}

a {
  color: red;
}

a:hover {
  color: blue;
}

main {
  display: flex;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: gray;
  height: 30px;
}