body {
  background-color: #f3eaea;
}

main {
  width: 800px;
  height: 800px;
  margin: auto;
}

header {
  height: 140px;
  background-color: #2d86c1;
}

nav {
  height: 60px;
  background-color: #bdc3c7;
}

article {
  width: 500px;
  height: 500px;
  background-color: #28b463;
  float: left;
}

aside {
  height: 500px;
  margin-left: 500px;
  background-color: #34495e;
}

footer {
  height: 100px;
  background-color: #808b96;
}