main {
  width: 1004px;
  height: 800px;
  margin: auto;
  border: 7px solid silver;
}

header {
  height: 120px;
  border: 3px solid green;
}

nav {
  height: 50px;
  border: 3px solid red;
}

article {
  width: 652px;
  height: 450px;
  float: left;
  border: 3px solid blue;
}

aside {
  height: 450px;
  margin-left: 652px;
  border: 3px solid orange;
}

footer {
  height: 155px;
  border: 3px solid magenta;
}