#contenedor {
  width: 100%;
  height: 80%;
}

header {
  background-color: #000;
}

header #logo {
  float: left;
}

header #barranavegacion {
  float: right;
}

#blanco {
  color: #fff;
}

#rojo {
  color: #ff0000;
}

#con {
  color: #ff0000;
}

#encabezado1 {
  font-size: 50px;
}

#encabezado2 {
  color: #ff0000;
}

.clear {
  clear: both;
}

ul,
li {
  display: inline;
  float: left;
  margin-top: 80px;
}

ul ul,
li {
  margin-top: 1px;
  margin: 0;
  margin-left: 0.2em;
  padding: 0.3em;
  list-style: none;
}

a {
  color: #fff;
}

a:hover {
  color: #ff0000;
}

#imagen1 {
  width: 400px;
  height: 200px;
}

article {
  width: 40%;
  height: 80%;
}

#descripcion {
  width: 80%;
  height: 100%;
  font-size: 20px;
  float: left;
}

#toyotathon {
  width: 55%;
  height: 50%;
  float: right;
}

.clear {
  clear: both;
}

.enlaces a {
  color: #fff;
}

footer {
  width: 100%;
  background-color: #000;
  height: 90px;
}

footer .enlaces {
  float: left;
  margin-top: 40px;
}

footer #buscador {
  float: right;
  margin-top: 20px;
}