body {
  color: #33b7d2;
  background-color: #303030;
  padding-left: 20em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #ff9900;
  text-decoration: none;
}

a:visited {
  color: #ff9900;
}

a:hover {
  color: #fff;
}

a:active {
  color: #ff9900;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Tahoma;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul.barranavegacion {
  position: absolute;
  top: 2em;
  left: 1em;
  width: 18em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.barranavegacion li {
  background-color: #33b7d2;
  margin: .5em 0;
  padding: 0, 3em;
  border-right: 1em solid #ff9900;
}

ul.barranavegacion a {
  text-decoration: none;
}

address {
  border-top: thin dotted;
}