* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.navigation {
  display: flex;
  justify-content: space-around;
  ;
}

li {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

main {
  display: flex;
}

.main__section {
  width: 50%;
  border: 1px solid;
}

footer {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}